* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Cairo", sans-serif;
}

:root {
  --main-light-color: #faf7f0;
  --main-Dark-color: #222831;
  --light-gray: #f0f5f9;
  --darker-blue: #37414f;
  --lighter-blue: #c1c1c1;
  --blue: #7e7e7e;
}
input,
select {
  background-color: var(--light-gray);
  border-radius: 10px;
  border: none;
  padding: 4px;
  &:focus {
    outline: none;
  }
}
body {
  min-height: 100vh;
  position: relative;
  transition: background-color 0.5s;
  .container {
    max-width: 1440px;
    padding: 0px 10px;
    margin: 0px auto;
  }
  background-color: var(--main-light-color);
  .image-container {
    margin: 20px auto 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
    max-width: 100%;
    row-gap: 40px;
    column-gap: 40px;
    position: relative;
    > div {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background-color: transparent;
      min-width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 400px;
      border-radius: 10px;
      transition: background-color 0.5s;
      div {
        position: relative;
        overflow: hidden;
        z-index: 1;
        border-radius: 10px;
        &:hover {
          div {
            opacity: 1;
            transform: translate(0px, 0px);
          }
        }
        > div {
          z-index: 2;
          position: absolute;
          background-color: transparent;
          opacity: 0;
          width: 100%;
          bottom: 0px;
          transform: translate(0px, 20px);
          left: 0px;
          padding: 0px 10px;
          background-image: linear-gradient(0deg, black, transparent);
          border-radius: 10px;
          transition: opacity 0.3s ease-in-out, transform 0.3s linear;
        }
        > a {
          display: grid;
          height: 100%;
          width: 100%;
          place-items: center;

          > img {
            border-radius: 10px;
            width: 100%;
          }
        }
        div.info {
          display: flex;
          background-color: transparent;
          min-width: none;
          max-width: none;
          margin: 0px auto;
          flex-direction: row;
          justify-content: space-between;
          padding: 14px;
          width: 100%;
          // background-color: var(--blue);
          border-radius: 10px;
          a {
            width: unset;
            img {
              width: 40px;
              border-radius: 50%;
            }
          }
          p {
            font-size: 16px;
            font-weight: bold;
            color: white;
          }
        }
      }
    }
    .no-result {
      position: absolute;
      left: 50%;
      padding: 10px;
      top: 10px;
      transform: translateX(-50%);
      p {
        font-size: 1.5em;
      }
    }
  }
  header {
    padding: 10px 0px;
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: var(--lighter-blue);
    z-index: 99;
    transition: background-color 0.3s;
    .container {
      display: flex;
      align-items: flex-start;
    }
    .controles {
      width: 60%;
      // margin: 0px 0px 0px 10px;
      padding: 0px 0px;
      max-width: 600px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // min-width: 500px;
      button {
        border-radius: 8px;
        padding: 5px 20px;
        border: none;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
          background-color: rgb(228, 228, 228);
        }
      }
      div {
        label {
          font-size: 1.3em;
          margin-right: 10px;
        }
        input {
          font-size: 1em;
          outline: none;
        }
        select {
          font-size: 1em;
        }
      }
    }
    .toggole {
      margin-left: 50px;
      margin-top: 10px;
      appearance: none;
      width: 70px;
      height: 30px;
      position: relative;
      border-radius: 1000px;
      background-color: var(--main-Dark-color);
      color: white;
      // position: absolute;
      // top: 20px;
      // right: 20px;
      &::before {
        content: "";
        width: 30px;
        border-radius: 50%;
        height: 30px;
        background-color: #98a8f8;
        position: absolute;
        left: 0px;
        top: 0px;
      }
      &::after {
        transform: translateY(-50%);
        content: "dark";
        width: 30px;
        height: 30px;
        transition: all 0.5s;
        position: absolute;
        right: 0px;
        top: 55%;
        font-size: 14px;
      }

      &:checked {
        background-color: var(--light-gray);
        color: black;
        &::after {
          right: unset;
          content: "light";
          left: 5px;
        }
        &::before {
          right: 0px;
          left: unset;
        }
      }
    }
  }
  main {
    .container {
      width: 90%;
    }
  }
  footer {
    margin-top: 100px;
    // position: relative;
    // bottom: 1px;
    // left: 50%;
    // transform: translateX(-50%);
    p {
      text-align: center;
    }
  }
}
body.dark-theme {
  background-color: var(--main-Dark-color);
  color: white;
  header {
    background-color: var(--darker-blue);
  }
  .image-container {
    div {
      // background-color: var(--darker-blue);
      div.info {
        border-radius: 10px;
        // background-color: var(--darker-blue);
      }
    }
  }
  footer {
    a {
      // color:var(--darker-blue)
      color: gray;
    }
  }
}
@media (max-width: 800px) {
  body {
    .image-container {
      grid-template-columns: 1fr 1fr;
      div {
        max-width: 300px;
      }
    }
  }
}
@media (max-width: 670px) {
  body {
    header {
      position: relative;
      top: 0px;
      left: 0px;
      .toggole {
        margin: 10px 0px;
      }
      .container {
        flex-direction: column;
        align-items: center;
        div {
          margin: 5px 0px;
        }
        .controles {
          flex-direction: column;
          align-items: stretch;
          div {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
// header,
// div,
// footer {
//   height: 100vh;
//   width: 100%;
// }

// header {
//   background-color: #eee;
// }
// div {
//   background-color: red;
// }
// footer {
//   background-color: blue;
// }
