* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Cairo", sans-serif;
}

:root {
  --main-light-color: #faf7f0;
  --main-Dark-color: #222831;
  --light-gray: #f0f5f9;
  --darker-blue: #37414f;
  --lighter-blue: #bccef8;
  --blue: #98a8f8;
}

body {
  min-height: 100vh;
  position: relative;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: var(--main-light-color);
}

body .container {
  max-width: 1440px;
  margin: 0px auto;
}

body .image-container {
  margin: 20px auto 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  row-gap: 40px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  position: relative;
}

body .image-container .no-result {
  position: absolute;
  left: 50%;
  padding: 10px;
  top: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body .image-container .no-result p {
  font-size: 1.5em;
}

body .image-container div {
  background-color: var(--blue);
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

body .image-container div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .image-container div a > img {
  border-radius: 10px;
  width: 100%;
  max-height: 100%;
}

body .image-container div div.info {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: transparent;
  min-width: none;
  max-width: none;
  margin: 10px auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
  width: 100%;
  background-color: var(--blue);
}

body .image-container div div.info a img {
  width: 40px;
  border-radius: 50%;
}

body .image-container div div.info p {
  font-size: 16px;
  font-weight: bold;
}

body header {
  padding: 10px 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: var(--lighter-blue);
  z-index: 99;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .controles {
  width: 60%;
  margin: auto;
  padding: 0px 0px;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .controles button {
  border-radius: 8px;
  padding: 5px 20px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

body header .controles button:hover {
  background-color: #e4e4e4;
}

body header .controles div label {
  font-size: 1.3em;
  font-weight: bold;
}

body header .controles div input {
  font-size: 1em;
  outline: none;
}

body header .controles div select {
  font-size: 1em;
}

body header .toggole {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 80px;
  height: 30px;
  position: relative;
  border-radius: 1000px;
  background-color: var(--main-Dark-color);
  color: white;
}

body header .toggole::before {
  content: "";
  width: 30px;
  border-radius: 50%;
  height: 30px;
  background-color: #98a8f8;
  position: absolute;
  left: 0px;
  top: 0px;
}

body header .toggole::after {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "dark";
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  right: 5px;
  top: 55%;
}

body header .toggole:checked {
  background-color: var(--light-gray);
  color: black;
}

body header .toggole:checked::after {
  right: unset;
  content: "light";
  left: 5px;
}

body header .toggole:checked::before {
  right: 0px;
  left: unset;
}

body footer {
  margin-top: 100px;
}

body footer p {
  text-align: center;
}

body.dark-theme {
  background-color: var(--main-Dark-color);
  color: white;
}

body.dark-theme header {
  background-color: var(--darker-blue);
}

body.dark-theme .image-container div {
  background-color: var(--darker-blue);
}

body.dark-theme .image-container div div.info {
  background-color: var(--darker-blue);
}

body.dark-theme footer a {
  color: gray;
}

@media (max-width: 800px) {
  body .image-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  body .image-container div {
    max-width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */